

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)</h3>
<h3>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</h3>


<p>@Html.ActionLink("Back to list", "Index")</p>